:root {
	--pry: #5EB73F;
	--sec: #ECF2E5;
	--link: #E10A04;
	--header: #CA9B09;
	--hover: #FF4444;
	--bg: #F6F3DD;
	--text: #333;
}

.bg {
	position: fixed;
	width: 100%;
	height: 100%;
	display: grid;
	justify-content: center;
	align-content: center;
	z-index: -100;
	opacity: .3;
	text-align: center;
}

::placeholder {
	font-style: italic;
	font-family: inherit;
}

body {
	margin: 0;
	font-size: 1.2rem;
	background: var(--bg);
	color: var(--text);
	font-family: serif;
}

h1, h2, h3, h4,
.h1, .h2, .h3 {
	color: var(--header);
}

a {
	color: var(--link);
	text-decoration: none !important;;
}

/* nav header style */

.container {
	padding: 5rem 1rem 1rem 1rem;
	transition-duration: 1s;
}

nav {
	background: var(--pry);
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	grid-gap: 1rem;
	align-items: center;
	padding: .5rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

nav .logo {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1rem;
	align-items: center;
}

.logo .dp-menu {
	padding: 5px;
	display: inline-block;
	cursor: pointer;
}

.logo .dp-menu span {
	display: block;
	background: var(--sec);
	padding: 2px .9rem;
	margin: 5px;
}

.logo .dp-menu span:nth-child(even) {
	margin: 5px 0px 5px 5px;
}

.logo .dp-link {
	/*margin-left: -20rem;*/
	position: fixed;
	left: 0;
	top: 5rem;
	background: var(--pry);
	box-shadow: 2px 0px 5px var(--pry);
	width: 10rem;
	height: 100%;
	transition-duration: 1s;
}

.logo .dp-link a {
	display: block;
	padding: 1rem;
	border-bottom: 1px solid var(--sec);
}

nav .logo a[href='/'] {
	color: var(--sec);
	font-style: italic;
	font-size: 1.3rem;
}

nav .links {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1rem;
}

nav .links a,
nav .logo .dp-link a {
	color: var(--sec);
	display: block;
	padding: 1rem
}

.links a:hover,
.links a:focus,
.dp-link a:hover,
.dp-link a:focus {
	margin-bottom: -1px;
	border-bottom: 1px solid var(--sec);
}

.dp-link a:hover,
.dp-link a:focus {
	background: var(--sec);
	color: var(--pry) !important;
}

.links a:nth-last-of-type(n + 2) {
	display: none;
}

#search {
	display: none;
}

#search span.close {
	padding: 5px;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

/* index */

.card {
	box-shadow: 1px 1px 2px var(--header);
	border-radius: 5px !important;
}

/* index ends here */

.auth {
	display: grid;
	justify-content: center;
	grid-gap: 1rem;
}

.auth-content > div:nth-child(n + 2) {
	display: none;
}

.auth form div {
	padding: 1rem 0;
}


.auth h2 {
	padding: 1rem 0;
	margin: 0;
}


label {
	display: none;
	font-size: 12px;
	font-style: oblique;
}

.input-line, .input-round {
	display: block;
	width: 100%;
	background: transparent;
	padding: 10px;
	transition: 2s;
	font: inherit;
	color: var(--pry);
	margin: 10px 0;
	border-style: groove;
	border-radius: 0;
}

.input-round {
	border-radius: 1rem;
}

.input-line {
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 2px groove var(--pry);
}

input:hover {
	border-color: var(--hover);
}

.auth div small {
	float: right;
}

.info {
	padding: 0 !important;
}

.button, .button-block {
	padding: 10px 1rem;
	background: var(--pry);
	color: var(--sec);
	border: none;
	border-radius: 5px;
	font: inherit
}

.button-block {
	width: 100%;
}

.button:hover, .button-block:hover {
	background: var(--hover);
}

.auth .opt {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-around;
	font-weight: bold;
	border-top: 1px solid var(--sec);
	width: 100%;
	margin: 1rem 0;
}

.auth .captcha {
	background: #eee;
	display: inline-block;
	font-size: 2rem;
	font-style: oblique;
	word-spacing: 10px;
}

footer {
	text-align: center;
	padding: 1rem;
	background: var(--pry);
	color: var(--sec);
}

.action > div:nth-child(n +2), 
.add-student > form:nth-child(n +2) {
	display: none;
}

.header {
	display: grid;
	grid-gap: 1rem;
	grid-auto-flow: column;
	justify-content: start;
	border-top: 1px solid var(--pry);
	border-bottom: 1px solid var(--pry);
	padding: 1rem;
}

.header img {
	width: 6rem;
	height: 7rem;
}

.header div {
	display: grid;
}

#session .active {
	color: var(--sec);
	background: var(--pry);
	padding: 5px;
}

/* auto profile */

.hidden {
	position: fixed;
	top: 2rem;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 2;
	display: none;
	justify-content: center;
	align-content: center;
}

.profile {
	background: var(--bg);
	padding: 1rem;
	box-shadow: 1px 1px 2px 2px var(--pry);
	position: relative;
	border-radius: 10px;
}

.profile .close {
	position: absolute;
	right: 1rem;
	top: 1rem;
	color: var(--pry);
}

.profile .header {
	border: none;
	grid-auto-flow: row !important;
}

.hidden .header .img-thumbnail {
	width: 100%;
	height: 15rem;
}

.profile .header .icon {
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	grid-gap: 1rem;
}

.profile .header .icon img {
	width: 1.5rem;
	height: 1.5rem;
}

.profile .header div {
	align-content: first baseline;
	grid-gap: 10px;
}

@media (min-width: 576px) {
	.links a {
		display: block !important;
	}
	
	.dp-link {
		margin-left: 0;
	}
	
	.container, footer {
		margin-left: 10rem
	}
	
	.bl {
		border-left: 1px solid var(--pry);
	}
	
	.profile .header {
		grid-auto-flow: column !important;
	}
	
	.hidden .header .img-thumbnail {
		width: 15rem;
		height: 12rem;
	}
}

.image{
    position: relative;
    height: 6rem;
    
}

.image img {
    width: 6rem;
    height: 6rem;
}

.image span{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    background: var(--pry);
    opacity: 0.7;
    color: var(--sec);
    left: 0;
    z-index: 0;
}

.image input{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    left: 0;
    opacity: 0;
    z-index: 1;
}