:root {
	--pry: #99db6d;
	--sec: #ECF2E5;
	--link: #E10A04;
	--header: #d3a737;
	--hover: #FF4444;
	--bg: #F6F3DD;
	--text: #333;
}

.bg {
	position: fixed;
	width: 100%;
	height: 100%;
	display: grid;
	justify-content: center;
	align-content: center;
	z-index: -100;
	opacity: .3;
	text-align: center;
	color: #C44A3D !important;
}

.bg h1 {
	color: var(--pry);		
}

::placeholder {
	font-style: italic;
	font-family: inherit;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
	color: var(--pry);
}

a {
	color: var(--link);
	text-decoration: none !important;;
}

/* nav header style */

.container {
	padding: 5rem 1rem 1rem 1rem;
	transition-duration: 1s;
}

nav {
	background: var(--pry);
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	grid-gap: 1rem;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 99;
	padding: .75rem .5rem;
}

nav .logo {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1rem;
	align-items: center;
}

.logo .dp-menu {
	padding: 5px;
	display: inline-block;
	cursor: pointer;
}

.logo .dp-menu span {
	display: block;
	background: var(--sec);
	padding: 2px .9rem;
	margin: 5px;
}

.logo .dp-menu span:nth-child(even) {
	margin: 5px 0px 5px 5px;
}

.logo .dp-link {
	position: fixed;
	left: 0;
	top: 4.5rem;
	background: var(--pry);
	box-shadow: 2px 0px 5px var(--pry);
	width: 12rem;
	height: 100%;
	transition: 1s;
	overflow: auto;
	margin-left: -50rem;
}

nav .logo a[href='/'] {
	color: var(--sec);
	font-style: italic;
	font-size: 1.3rem;
}

nav .links {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1rem;
}

nav .links a,
.dp-link a {
	color: var(--sec);
	display: block;
	padding: .7rem;
}

.dp-link a {
	background: #addd8d;
	margin: 5px;
}

.links a:hover,
.links a:focus,
.dp-link a:hover,
.dp-link a:focus {
	margin-bottom: -1px;
	border-bottom: 1px solid var(--sec);
}

.dp-link a:hover,
.dp-link a:focus,
.dp-link .active {
	background: var(--sec);
	color: var(--pry) !important;
}

.links a:nth-last-of-type(n + 2) {
	display: none;
}

/* index */

.land-anim h1 {
	color: var(--pry) !important;
	text-shadow: .1rem .1rem .2rem var(--bg);
	font-size: 3rem;
	animation-delay: 4s;
}


.land-anim .h3 {
	animation-delay: 5s;
	color: var(--sec);
}

.classes {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	grid-gap: 1rem .7rem;
	animation-delay: 5.5s
}

.admission {
	background: #5EB73Fcc;
	opacity: 0.8;
	box-sizing: border-box;
	box-shadow: 0 5rem 5rem 0 var(--text);
	color: #ECF2E5ee;
	font-weight: bold;
	font-size: 1rem;
	text-transform: capitalize;
	line-height: 1.5;
	animation-delay: 6s;
	padding: 1rem;
	margin-top: 2rem;
}

/*  large screen */
@media (min-width: 960px) {
	.admission {
		display: inline-block !important;
		align-self: center;
		right: 15rem !important;
		font-size: 1.2rem;
		border-radius: 100%;
		padding: 2rem 1.3rem;
		width: 9rem;
		position: relative;
		left: 15rem;
		top: -11rem;
	}
	
	.land-anim {
		margin-top: 10rem;
		margin-left: -8rem;
	}
}

.classes span {
	padding: 3px 5px;
	border-radius: 0 .7rem 0 .7rem;
	border: 1px solid var(--sec);
	box-shadow: 0 1px 1px var(--pry);
	color: var(--sec);
}

.url .go {
	background: var(--pry);
	padding: 10px 2rem;
	border-radius: 10rem;
	color: var(--sec);
	font-weight: bold;
	text-transform: capitalize;
}

.go:hover,
.go:focus {
	background: var(--link);
}

/* blog */

.blog-list .h4 {
	text-transform: capitalize;
}

.blog-listing {
	display: grid;
	grid-gap: 2rem;
	align-content: center;
	padding: 2rem;
}

.blog-list:nth-of-type(n + 2)  {
	text-align: center;
	margin: 0 !important;
	min-height: 30rem;
}

.blog-list:nth-of-type(n + 2) .bordered {
	height: calc(100% - 2rem);
	transition: 2s;
	padding: 1rem;
	margin: 1rem;
	border: 1px solid var(--sec);
	border-radius: 5px;
}

.blog-list:nth-of-type(n + 2) img {
	width: 100%;
	margin-bottom: 1rem;
}

.blog-list:hover,
.blog-list:focus {
  box-shadow: 0px 0px 2rem 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
	.blog-list {
		text-align: center;
		margin: 0 !important;
		min-height: 30rem;
	}
	
	.blog-list .bordered {
		height: calc(100% - 2rem);
		transition: 2s;
		padding: 1rem;
		margin: 1rem;
		border: 1px solid var(--sec);
		border-radius: 5px;
	}

	.blog-list  img {
		width: 100%;
		margin-bottom: 1rem;
	}
}

@media (min-width: 768px) {
	.blog-listing {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.blog-listing > div:first-child {
		grid-row: 1;
		grid-column: 1/3;
		margin: 3rem auto;
		background: var(--sec);
		padding: 2rem 3rem;
	}
	
	.blog-list:first-of-type .bordered {
		display: grid;
		grid-auto-flow: column;
		justify-content: center;
		grid-gap: 1.5rem;
		padding: 2rem;
	}

	.blog-list:first-of-type .bordered img {
		width: 30rem;
	}

	.blog-list:first-of-type .bordered:hover {
		border-radius: 0 1rem;
		border: 1px solid var(--pry);
		margin: 5px;
	}

	.blog-list:first-of-type .bordered .details {
		display: flex;
		flex-flow: column;
		justify-content: center;
	}
}

@media (min-width: 960px) {
	.blog-listing {
		grid-template-columns: repeat(3, 1fr);
	}
	
	.blog-listing > div:first-child {
		grid-row: 1;
		grid-column: 1/4;
		margin: 3rem auto;
		background: var(--sec);
		padding: 2rem 3rem;
	}
}

/* post */

.post h1 {
	margin-bottom: 2rem;
	text-transform: capitalize;
}

.post .img-fluid {
	width: 100%;
}

.post .post-details {
	border-left: 3px solid var(--pry);
	padding: 1rem;
}

.post .post-content:first-letter {
	color: var(--pry);
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 700;
}

.post .post-content {
	line-height: 2;
	font-size: 1.2rem;
}

/* index ends here */

#progress, .timer {
	display: flex;
	justify-content: space-evenly;
}

#progress span, .timer div {
	border-radius: 100%;
	border: 1px solid var(--pry);
	padding: .5rem 1rem;
	color: var(--link);
}

#progress .active, .timer div {
 background: var(--pry);
	color: var(--sec);
}

label {
	display: none;
	font-size: 12px;
	font-style: oblique;
}

.form-question label {
	display: block !important;
}

.login-form {
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

@media (max-width: 576px) {
	.login-form {
		margin-top: 8rem !important;
		height: 100% !important;
	}
}

#Tlogin span {
	font-size: 1.5rem;
	line-height: 2rem;
	color: var(--pry);
	border-radius: 5px 0 0 5px;
	border: 1px solid #ccc;
	padding: 5px;
}

.input-group:hover span {
	border-color: var(--hover) !important;
}

.input-group:hover span i {
	color: var(--link);
}

.input-group input:focus {
	border-color: var(--link); 
}

.input-line {
	display: block;
	width: 100%;
	background: transparent;
	padding: 10px;
	transition: 2s;
	font: inherit;
	color: var(--pry);
	margin: 10px 0;
	border-style: groove;
	border-radius: 0;
}

.input-line {
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 2px groove var(--pry);
}

input:hover {
	border-color: var(--hover);
}

.info {
	padding: 0 !important;
}

.action > div:nth-child(n +2), 
.add-student > form:nth-child(n +2) {
	display: none;
}

.header {
	display: grid;
	grid-gap: 1rem;
	grid-auto-flow: column;
	justify-content: start;
	border-top: 1px solid var(--pry);
	border-bottom: 1px solid var(--pry);
	padding: 1rem;
}

.header img {
	width: 7rem;
	height: 7rem;
}

.header div {
	display: grid;
	align-content: center;
}

.icofont-info-circle {
	font-size: 3rem;
	color: var(--pry);
	margin-right: 1rem;
}

#session .active {
	color: var(--sec);
	background: var(--pry);
	padding: 5px;
}

.list-info-admin {
	display: flex;
	justify-content: start;
	grid-gap: .65rem;
	align-items: start;
}

.list-info-admin img {
	width: 5rem;
	height: 5rem !important;
}

.entries {
	display: flex;
	align-items: center;
	border: 1px solid var(--pry);
	border-radius: 10px;
	min-height: 5rem;
	grid-gap: 1rem;
	margin-bottom: 1rem;
}

.entries i {
	font-size: 3rem;
	color: var(--pry);
	font-weight: 700;
}

.entries span {
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--pry);
}

.entries:hover {
	background: var(--pry);
}

.entries:hover i,
.entries:hover h3,
.entries:hover span {
	color: var(--sec);
}

/* auto profile */

.hidden {
	position: fixed;
	top: 2rem;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 2;
	display: none;
}

.profile {
	background: var(--sec);
	position: absolute;
  bottom: 0;
	right: 0;
	width: 20rem;
	height: calc(100vh - 2.5rem);
	padding: 2rem 1rem;
	color: var(--text);
}

.profile .close {
	position: absolute;
	right: .5rem;
	padding: .5rem;
	top: .5rem;
	color: var(--pry);
}

.profile .close:hover {
	color: var(--text);
}


.profile header {
	text-align: center;
}

.hidden header .img-thumbnail {
	width: 10rem;
	height: 10rem !important;
	border-radius: 100%;
}

header h4 {
	text-transform: capitalize;
}

.profile .profile-details {
	padding: 1rem;
}

.header .icon img {
	width: 1.5rem;
	height: 1.5rem;
}

.promote form {
	margin: 2rem 0;
}

.students .list {
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	grid-gap: 1rem;
	padding: 10px;
}

/* other side */

.events.active {
	padding: 5px;
	background: var(--pry);
	color: var(--sec);
	border-left: 2px solid var(--text);
}

.position-relative {
	position: relative;
	padding: 1rem 0;
}

.position-relative input, .position-relative span {
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: 1;
	padding: 5px;
	background: var(--pry);
	color: var(--sec);
	width: 100%;
}

.position-relative span {
	opacity: 1;
	z-index: 0;
}

@media (min-width: 576px) {
	.list-item {
		margin-bottom: 0;
	}
	.links a {
		display: block !important;
	}
	
	.bl {
		border-left: 1px solid var(--pry);
	}
	
	.profile .header {
		grid-auto-flow: column !important;
	}
	
	.hidden .header .img-thumbnail {
		width: 15rem;
		height: 12rem;
	}
}

.image{
    position: relative;
    height: 6rem;
}

.image img {
    width: 6rem;
    height: 6rem;
}

.image span{
    position: absolute;
    bottom: 0;
    padding: .3rem .6rem;
    background: var(--pry);
    opacity: 0.9;
    color: var(--text);
	  right: 0;
    z-index: 0;
		border-radius: 50%;
		font-size: 1.3rem;
}

.image input{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    opacity: 0;
    z-index: 1;
}

/* footer */

.footer {
	background: var(--sec);
	padding: 2rem;
}

footer .icons a {
	color: var(--sec) !important;
}

footer .icons a:hover,
footer .icons a:focus {
	color: initial !important;
}

footer a i {
	border-radius: 50%;
	background: var(--pry);
	padding: .6rem;
}

/*
Page Loader
*/

.load {
	display: grid;
	justify-items: center;
	align-content: center;
	height: 100%;
	position: fixed;
	width: 100%;
	background: var(--bg);
	z-index: 100;
}

.loader {
	display: grid;
	justify-items: center;
	height: 100%;
	align-content: center;
}

.ring {
	padding: 1rem;
	border-radius: 100%;
	border: 5px solid;
}

.green {
	border-color: var(--pry);
	width: 8rem;
	height: 8rem;
	border-left-color: transparent;
}

.blue {
	border-color: var(--header);
	width: 6rem;
	height: 6rem;
	margin-top: -7rem;
	border-left-color: transparent;
	animation-duration: .9s
}